<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>수정하기</title>
</head>
<body>
<div id = "app">
<form method="post">
  <table border="1">
    <caption>회사 정보 수정</caption>
    <tr>
      <td>사업자 번호 *</td>
      <td>
        <select name = "businesstype" v-model="companyTb.businesstype">
          <option value="selectNo">선택</option>
          <option value="SoleProprietorship">개인사업자</option>
          <option value="CorporateBusiness">법인사업자</option>
        </select>
        <input type="text" name="businessnumber" id = "businessnumber" class = "businessnumber" v-model="companyTb.businessnumber">
      </td>
    </tr>
    <tr>
      <td>회사명 *</td>
      <td>
        <input type="text" name="company" id="company" class="company" v-model="companyTb.company">
      </td>
    </tr>
    <tr>
      <td>회사 담당자 *</td>
      <td>
        <input type="text" name="companyperson" id="companyperson" class="companyperson" placeholder="회사 담당자를 텍스트로 입력하세요." v-model="companyTb.companyperson">
      </td>
    </tr>
    <tr>
      <td>회사 담당자 이메일</td>
      <td>
        <input type="email" name="companypersonemail" id="companypersonemail" class="companypersonemail" placeholder="회사 담당자 이메일 주소를 형식에 맞게 입력하세요." v-model="companyTb.companypersonemail">
      </td>
    </tr>
    <tr>
      <td>대표 전화*</td>
      <td>
        <input type="text" name="representativetelephone" id="representativetelephone" class="representativetelephone" placeholder="대표 전화 번호를 숫자만 입력하세요." v-model="companyTb.representativetelephone">
      </td>
    </tr>
    <tr>
      <td>회사 담당자 휴대폰</td>
      <td>
        <input type="text" name="companypersonphone" id="companypersonphone" class="companypersonphone" placeholder="휴대폰 번호를 숫자만 입력하세요." v-model="companyTb.companypersonphone">
      </td>
    </tr>
    <tr>
      <td>상태</td>
      <td>
        <input type="radio" name="status" value="using" v-model="companyTb.status"> 사용중
        <input type="radio" name="status" value="standby" v-model="companyTb.status"> 대기중
        <input type="radio" name="status" value="stop" v-model="companyTb.status"> 사용중지
      </td>
    </tr>
    <tr>
      <td>주소 *</td>
      <td>
        <input type="text" name="postaddress" id="address1" class="address1" placeholder="주소를 검색해 주세요." v-model="companyTb.postaddress"><input type="button" onclick="addressBtn()" value="주소검색"><br>
        <input type="text" name="detailaddress" id="address2" class="address2" placeholder="상세 주소를 입력해 주세요." v-model="companyTb.detailaddress">
      </td>
    </tr>
    <tr>
      <td>비고</td>
      <td>
        <textarea name="note" placeholder="특이사항을 입력해 주세요." rows="3" cols="40" v-model="companyTb.note"></textarea>
      </td>
    </tr>
    <tr>
      <td>로고파일</td>
      <td>
        <input type="text" placeholder="파일을 드래그 앤 드랍 해주세요.">
        <input type="button" value="파일선택">
      </td>
    </tr>
  </table>
  <input type="button" value="저장" id="submit_btn" class="submit_btn" @click="correction()">
  <input type="reset" value="나가기" id="reset_btn" class="reset_btn">

</form>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>

  <script>
    function addressBtn() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("address1").value = extraAddr;

                } else {
                    document.getElementById("address1").value = '';
                }

                document.getElementById('address1').value = data.zonecode;
                document.getElementById("address1").value = addr;
                document.getElementById("address2").focus();
            }
        }).open();
    }

    new Vue({
       el : "#app",
       data : {
          companyId : 0,
          companyTb : {
            company : "",
            companyperson : "",
            companypersonephone : "",
            companypersonemail : "",
            businessnumber : "",
            businesstype : "selectNo",
            detailaddress : "",
            note : "",
            status : "",
            representativetelephone : "",
            postaddress : ""
          }
       },
       methods : {

           loadData(){
              this.companyId = [[${companyId}]];
              console.log(this.companyId);
              axios.get('/company/getCompanyCorrection/' + this.companyId)
                .then(response => {
                   this.companyTb = response.data;

                   if(this.companyTb.businesstype == '법인사업자'){
                     this.companyTb.businesstype = 'CorporateBusiness';
                   }else if(this.companyTb.businesstype == '개인사업자'){
                     this.companyTb.businesstype = 'SoleProprietorship';
                   }

                   if(this.companyTb.status == '사용중'){
                     this.companyTb.status = 'using';
                   }else if(this.companyTb.status == '대기중'){
                     this.companyTb.status = 'standby';
                   }else if(this.companyTb.status == '사용중지'){
                     this.companyTb.status = 'stop';
                   }
                })
                .catch(error => {
                  console.error("Error fetching data:", error);
                })
           },
          correction(){
              let formData = new FormData();
              Object.keys(this.companyTb).forEach((key) => {
                if(this.companyTb[key]==null){
                  formData.append(key, "")
                }else{
                  formData.append(key, this.companyTb[key])
                }
              })
              axios.post("/company/companyCorrectionOK/" + this.companyId, formData)
                .then(response => {
                    if(response.data == true){
                     location.href = '/company/companyView/' + this.companyId;
                    }
                    else{
                      console.log(response.data);
                    }
                })
                .catch(error => {
                   console.error("Error fetching data:", error);
                })
          }
       },
       filters: $.extend({}, vueFilters, {}),
      computed: {},
      watch: {},
      created : {},
      mounted() {
         this.loadData();
      }

    })


</script>
</body>
</html>