<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>사용자 목록</title>
  <style>
    .layout{
      width : 2000px;
      margin : 0 auto;
      margin-top : 40px;

    .SearchTitleAndContent{
      margin : 0 auto;
      width: 100%;
  </style>
</head>
<body>
<div id="app" class="layout">
  <div>
    <label>
      <select name="userIdAndNameFind" v-model="Search.searchOption">
        <option value="all">전체</option>
        <option value="userId">아이디</option>
        <option value="userName">이름</option>
      </select>
    </label>
    <input type="text" id="search" placeholder="키워드를 입력하세요." class="search" v-model="Search.searchKeyword">
    <input type="button" value="검색" @click="search_btn()">
  </div>
  <br>
  <table border="1">
    <thead>
    <tr>
      <th>글번호</th>
      <th>아이디</th>
      <th>이름</th>
      <th>회사</th>
      <th>전화번호</th>
      <th>사무실전화</th>
      <th>생년월일</th>
      <th>주소</th>
      <th>등록일</th>
      <th>상태</th>
    </tr>
    </thead>
    <tbody v-for="(user, index) in list" :key="index">
    <tr>
      <td>{{user.id}}</td>
      <td><a :href = "'/user/userView/' + user.id" >{{user.userId}}</a></td>
      <td><a :href = "'/user/userView/' + user.id" >{{user.userName}}</a></td>
      <td>{{user.companyName}}</td>
      <td>{{user.userPhone | tel }}</td>
      <td>{{user.officePhone | tel }}</td>
      <td>{{user.userBirth}}</td>
      <td>{{user.userPostAddress}} {{user.userDetailAddress}}</td>
      <td>{{user.writeTime}}</td>
      <td>{{user.state}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <a href = "/user/userAdd">사용자 등록</a>
</div>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>

<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>

<script src="/prototype/static/plugins/tippy/tippy-bundle.umd.min.js"></script>

<script>
    new Vue({
        el : "#app",
        data : {
            list : [],
            Search : {
                searchOption : 'all',
                searchKeyword : ''
            }
        },
        methods : {
           loadData : function () {
                const vm = this;
                axios.get('/user/userGetList')
                  .then(response => {
                      this.list = response.data;
                  })
                  .catch(error => {
                      console.error("error :" , error);
                  })
           },
           search_btn : function() {
                console.log("-------");
                const vm = this;
                axios.get('/user/search', {
                    params : {
                       searchOption : vm.Search.searchOption,
                       searchKeyword : vm.Search.searchKeyword
                    }
                })
                .then(response => {
                    vm.list = response.data;
                })
                .catch(error => {
                    console.error("error : " , error);
                })
           }
        },
        phoneAutoHyphen : function (phone) {
            console.log(phone);
            return phone.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
        },
        filters: $.extend({}, vueFilters, {}),
        computed: {},
        watch: {},
        created : {},
        mounted() {
           this.loadData();
        }
    })
</script>
</body>
</html>